@import '../../styles/base/settings';

.menu {
  margin: 80px 0;
}

.menuHeaders {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 40px;
}

.menuHeader {
  font-size: $ms-size;
  font-weight: 300;
  margin: 10px 0;
  cursor: pointer;
  color: #525252;
  text-decoration: underline;
}

.menuHeader:hover {
  color: #000;
}

li {
  list-style-type: none;
}

.menuItemList {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .menuItem {
    padding-top: 15px; 
  }

  h3 {
    font-size: $ms-size;
  }
  span {
    font-size: $m-size;
  }
}

h2 {
  font-size: $l-size;
}

.sample {
  font-size: $xs-size;
}

/****************
* MEDIA QUERIES *
****************/

@media only screen and (min-width:568px) {

  .menuHeaders {
    display: flex;
  }
  .menuHeader {
    margin-right: 20px;
  }
  .menuItemList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    .menuItem {
      padding-top: 20px; 
    }
  }
}

.sample {
  font-size: $s-size;
}

@media only screen and (min-width:768px) {
  .menuHeaders {
    margin-bottom: 20px;
  }
  .menuItemList {
    .menuItem {
      padding-top: 40px; 
    }
  }
}

@media only screen and (min-width:1024px) {
  
}

@media only screen and (min-width:1280px) {
  
}