/**********
* COLOURS *
***********/

$kelvin: #14302F;
$background: #f7f2ea;

/*************
* FONT SIZES *
*************/
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ms-size: 2rem;
$ml-size: 2.6rem;
$l-size: 3.2rem;
$xl-size: 4.2rem;